.lv-main {
    /* border: 1px black; */
    /* background-color: aqua; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.lv-link {
    text-decoration: none;
}

.lv-box {
    background-color: #ffffff7d;
    border-radius: 12px;
    backdrop-filter: blur(33px);
    box-shadow: 0 10px 15px rgb(0 0 0 / 20%);
    flex: 1;
    color: rgba(0,0,0,0.8);
    margin: 1rem;
    max-height: 20vh;
    min-height: 20vh;
    display: flex;
    flex-direction: row;
}

.left-box {
    flex: 2;
}

.left-box img {
    width: 100%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.right-box {
    padding: 1rem;
    flex: 5;
    flex-direction: column;
}

.lv-video-title {
    color: rgba(0,0,0,0.8);
}

.lv-date {
    color: rgba(0,0,0,0.8);
}