@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");
@import url("http://fonts.cdnfonts.com/css/wild-youth");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

.PSCSS {
    box-sizing: border-box;
    /* display: flex;
    flex-direction: column; */
}

.PSCSS .navbarCustom {
    display: flex;
    height: 4rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #0e0e10;
    position: fixed !important;
    z-index: 100;
    border-bottom: 1px solid black;
}

.PSCSS img {
    height: 100%;
}

.PSCSS .img1 {
    animation: rotation 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.PSCSS .cafeTitle {
    color: #4a90ce;
    font-family: "Orbitron", sans-serif;
    margin-top: 5px;
    letter-spacing: 1px;
}

.PSCSS .upldBtn {
    margin-right: 1rem;
    background-color: transparent;
    color: white;
    padding: 5px 13px 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2rem;
    border: 2px solid white;
    transition: all 1s;
}

.PSCSS .upldBtn:hover {
    background-color: white;
    color: #000;
    border: 2px solid #000;
}

.PSCSS .psBody {
    display: flex;
}

.PSCSS .psLeftPart {
    display: flex;
    justify-content: center;
    flex: 1;
    background-color: #28223f;
    height: 100%;
    /* background-color: red; */
    height: 100vh;
}

.PSCSS .psRightPart {
    display: flex;
    flex: 2;
    background-color: white;
    height: 100%;
    height: 100vh;
    flex-direction: column;
}


.PSCSS .psCard {
    margin-top: 10rem;
    color: #b3b8cd;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
    max-height: 450px;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, .75);
}

.PSCSS .psCardHeader {
    background-image: url('https://images.unsplash.com/photo-1540228232483-1b64a7024923?ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
    border-radius: 5px 5px 0 0;
    padding: 0 15px;
}

.PSCSS .psCardPhoto {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    border: 1px solid #1f1a32;
    padding: 7px;
    background-color: #292343;
    overflow: hidden;
    transform: translateY(calc(50% + 40px));
}

.PSCSS .psCardPhoto img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.PSCSS .psCardBody {
    background-color: #231e39;
    padding: 16px 15px 16px;
    text-align: center;
    border-radius: 0 0 5px 5px;
}

.PSCSS .psCardName {
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 0 135px;
    color: #b3b8cd;
}

.PSCSS .psCardDescription {
    color: #b3b8cd;
    font-size: 20px;
    line-height: 22px;
    margin-top: 35px;
}

.PSCSS .psCardButton {
    margin: 40px 0 40px;
}

.PSCSS .psCardButton button:first-of-type {
    margin-right: 10px;
}

.PSCSS .psBtn {
    display: inline-block;
    padding: 10px 25px;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    transition: all .5s ease;
    cursor: pointer;
}

.PSCSS .psBtnPrimary,
.PSCSS .psBtnOutlinePrimary {
    border: 1px solid #03bfbc;
    margin-right: 1rem;
    margin-left: 1rem;
    width: 7rem;
}

.PSCSS .psBtnPrimary,
.PSCSS .psBtnOutlinePrimary:hover {
    color: #231e39;
    background-color: #03bfbc;
}

.PSCSS .psBtnPrimary:hover,
.PSCSS .psBtnOutlinePrimary {
    background-color: transparent;
    color: #03bfbc;
}



.PSCSS .tabList {
    display: flex;
    justify-items: center;
}

.PSCSS .rightHeader {
    display: flex;
    flex : 1;
    /* justify-content:end; */
    border: 1px;
    border-color: black;
}

.PSCSS .tabBtn {
    flex : 1;
}

.PSCSS .rightBody {
    flex : 13;
}

.PSCSS .activetab {

}

.PSCSS .hiddenTab {
    display: none;
}
